site_name: Developers Handbook
theme:
  name: material
  features:
    - navigation.sections
    - navigation.expand
plugins:
  - search
  - awesome-nav
markdown_extensions:
  - admonition
  - tables
  - pymdownx.highlight
  - pymdownx.superfences

# Navigation is defined in docs/.nav.yml
# This is managed by the awesome-nav plugin
